html {
  height: 100%;
}
html,
body {
  min-height: 100% !important;
  height: auto !important;
}
body {
  display: block;
  height: 100%;
  position: relative;
  margin: 0px;
  font-family: "Open Sans", sans-serif; /* aquí elegimos la tipografía que desplegaremos en el sitio */
  overflow-y: unset; /* esto es para que no haya scroll horizontal */
}

.jumbo-taller {
  background: url("../Img/logo-black.png");
  background-size: 100%; /* Esto hace la imágen responsiva */
  background-repeat: no-repeat; /* Esto hace  que la imágen no se repita*/
  height: 500px;
  width: 100%;
}
@media (max-width: 576px) {
  .jumbo-taller {
    background: unset;
  }
}

.mycollapse {
  background: black;
}
@media (max-width: 576px) {
  .mycollapse {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }
}

/* ul.navbar-nav li.nav-item a.nav-link{
  color: white !important;
} */

#myNavbar {
  height: 70px;
  background-color: black;
}

.nav-link:hover {
  background-color: black;
}
.jumbo-text {
  /* opacity: 1; */
  background-color: rgba(255, 255, 255, 0.1);
  height: auto;
  width: 100%;
  border-radius: 50px;
  padding: 30px;
  color: white;
  text-align: center;
  display: block;
  margin: auto;
}

.hero {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

.work-item {
  /* background-color: lightgray; */
  height: auto;
  min-height: 100px;
  padding: 10px;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}

section {
  height: 100%;
  padding: 80px 0;
  /* width: 100%; */
}

#section1 {
  background: url("../Img/logo-black.png");
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  margin-top: 0px !important;
  margin-left: -15px;
  margin-right: -15px;
}

ul > li {
  font-size: large;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.fab {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-code {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.motivation {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.display-2 {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  -webkit-background-clip: text;
  font-size: 4rem;
}
@media (max-width: 576px) {
  .display-2 {
    font-size: 2rem;
  }
}

/* @include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
} */

.social > a {
  color: white;
}

a > i.fab {
  color: white !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  background-color: white;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-lg {
  width: 80px;
  height: 80px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  border-radius: 150px;
}

.section-title {
  text-align: center;
  font-weight: 800;
  margin-bottom: 50px;
}

.section-title h2:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 300px;
  height: 1.5px;
  background-color: #5d33fb;
}
.thumbnail {
  position: relative;
  overflow: hidden;
}
.caption2 {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(66, 139, 202, 0.75);
  width: 100%;
  height: 100%;
  padding: 2%;
  /* display: none; */
  text-align: center;
  color: #fff !important;
  z-index: 2;
}

.formulario {
  /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
  color: black;
  height: 200px;
}
.myfooter {
  padding: 20px;
  text-align: center;
}
.foot {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  height: 150px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -10px;
  padding: 10px;
}
.myheader {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
}
